#
# $Id: .htaccess,v 1.1 2002/02/19 16:43:53 riessen Exp $
#

<Files RunAllTests.php>
# Force apache to use PHP4 for RunAllTests
  ForceType application/x-httpd-php
</Files>

<IfModule mod_php4.c>
# This requires that "AllowOverride Options" is set in access.conf
# or httpd.conf or any other apache configuration file.
#
# Because parts of the tests redeclare classes that are defined 
# by the prepend file, we turn off prepending
#    php_value auto_prepend_file "none"
</IfModule>
